.hero-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .hero-full {
    background-image: url(../../images/bg-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .hero-full {
    background-image: url(../../images/bg-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .hero-full {
    background-image: url(../../images/bg-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .hero-full {
    background-image: url(../../images/bg-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .hero-full {
    background-image: url(../../images/bg-3200.jpg);
  }
}

@media (pointer: coarse) {
  .hero-full {
    background-attachment: initial !important;
  }
}

.hero-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  margin-top: 80px;
  text-shadow: 0 0 5px black;
  color: white;
}

.hero-subtitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  font-style: italic;
  flex-grow: 1;
  text-align: center;
}

.hero-infobutton {
  font-weight: 300;
  padding: 12px 20px 10px;
  font-size: 13px;
  margin-bottom: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-infobutton:hover {
  color: white;
  padding: 11px 19px 9px;
  border: 1px solid #fff;
  transition: border 0.25s linear, padding 0.25s linear;
}
