@media only screen and (min-height: 350px) {
  .hero-full {
    height: 100vh;
  }
}

.hero-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  background-image: url(../../images/bg.jpg);
}

@media (pointer: coarse) {
  .hero-full {
    background-attachment: initial !important;
  }
}

.hero-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 50px;
  font-weight: 500;
  margin-top: 80px;
  text-shadow: 0 0 5px black;
  color: white;
}

.hero-subtitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  font-style: italic;
  flex-grow: 1;
}

.hero-info {
  font-size: 30px;
  font-weight: 300;
  padding: 10px 20px;
  margin-bottom: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-info:hover {
  color: white;
  padding: 9px 19px;
  border: 1px solid #fff;
  transition: border 0.25s linear, padding 0.25s linear;
}
