.navheader-full {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  vertical-align: baseline;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
}

.navheader-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  text-shadow: 0 0 5px black;
  color: white;
}

.navheader-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.navheader-title:hover {
  color: white;
}

.navheader-companyaccount {
  color: white;
  margin: 0 10px;
}

.navheader-link {
  color: white;
  margin: 0 10px;
}

.navheader-link:hover {
  opacity: 0.7;
  text-shadow: 0 0 5px white;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
  color: white;
}

.navheader-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

@media only screen and (max-width: 767px) {
  .navheader-avatar {
    margin-left: 5px;
  }
  .navheader-desktoplinks {
    display: none;
  }
  .navheader-mobilelinks {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .navheader-mobilelinks {
    display: none;
  }
}
