.contact-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .contact-full {
    background-image: url(../../images/balloon-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .contact-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .contact-full {
    background-image: url(../../images/balloon-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .contact-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .contact-full {
    background-image: url(../../images/balloon-3200.jpg);
  }
}

.contact-text {
  text-align: left;
  font-weight: 300;
  margin: 10px 0px;
  color: black;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

.contact-contents {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-company-title {
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  color: white;
}

.contact-title {
  font-size: 30px;
  align-self: flex-start;
  text-shadow: 0 0 5px black;
  color: white;
}

.contact-box {
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #fff;
  padding: 0 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.contact-button {
  margin: 10px;
}

@media (pointer: coarse) {
  .contact-full {
    background-attachment: initial !important;
  }
}
