.contact-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  background-image: url(../../images/passion.jpg);
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.contact-contents {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-company-title {
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  color: white;
}

.contact-box {
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  padding: 0 10px;
  color: white;
  text-align: justify;
  font-size: 18px;
}

.contact-title {
  font-size: 30px;
  align-self: flex-start;
  text-shadow: 0 0 5px black;
  color: white;
}

@media (pointer: coarse) {
  .contact-full {
    background-attachment: initial !important;
  }
}
