.requests-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(245, 245, 245);
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .requests-full {
    background-image: url(../../images/balloon-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .requests-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .requests-full {
    background-image: url(../../images/balloon-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .requests-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .requests-full {
    background-image: url(../../images/balloon-3200.jpg);
  }
}

@media (pointer: coarse) {
  .requests-full {
    background-attachment: initial !important;
  }
}
