.hero-navfull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-nav-black {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 0 5px silver;
  color: black;
}

.hero-nav-white {
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  color: black;
}

.hero-nav-link-white {
  opacity: 0.8;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  color: white;
}

.hero-nav-link-black {
  opacity: 0.8;
  font-weight: 500;
  text-shadow: 0 0 5px silver;
  color: black;
}

.hero-title-white {
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  text-shadow: 0 0 5px black;
  color: white;
}

.hero-title-black {
  font-size: 50px;
  font-weight: 500;
  margin-top: 10px;
  text-shadow: 0 0 5px silver;
  color: black;
}

.hero-nav-link-white:hover {
  opacity: 1;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
  color: white;
}

.hero-nav-link-black:hover {
  opacity: 1;
  text-shadow: 0 0 5px white;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
  color: black;
}

.hero-dot-white {
  color: white;
}

.hero-dot-black {
  color: black;
}
