.myrequests-title {
  font-weight: 500;
  color: #5692f0;
}

.myrequests-selector {
  text-align: right;
}

.myrequests-label {
  text-align: center;
  font-weight: 500;
}

.myrequests-data {
  text-align: center;
  font-size: 13px;
}

.myrequests-labeldiv {
  border-bottom: 1px solid silver;
}

.myrequests-div {
  border-bottom: 1px dashed silver;
}

.myrequests {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid silver;
  padding: 5px 10px;
  color: black;
}

.myrequests-databox {
  max-height: 100px;
  overflow: scroll;
}
