.requestform-box {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid silver;
  padding: 5px 10px;
  color: black;
}

.searchrequests-box {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}

.searchrequests-results-label {
  text-align: center;
  border-bottom: 1px solid silver;
  font-weight: 500;
}

.searchrequests-results-entry {
  text-align: center;
}

.searchrequests-results-link {
  text-align: center;
  color: black;
}

.searchrequests-results-link:hover {
  opacity: 0.7;
  text-shadow: 0 0 5px white;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
  color: black;
}
