.settings-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(245, 245, 245);
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .settings-full {
    background-image: url(../../images/balloon-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .settings-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .settings-full {
    background-image: url(../../images/balloon-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .settings-full {
    background-image: url(../../images/balloon-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .settings-full {
    background-image: url(../../images/balloon-3200.jpg);
  }
}

.settings {
  max-width: 900px;
  margin: 0 auto;
  width: 95%;
}

.settings-content-actions {
  padding: 5px;
}

.settings-content-title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.settings-box {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid silver;
}

.settings-title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0 0 5px black;
  color: white;
  text-align: center;
}

@media (pointer: coarse) {
  .settings-full {
    background-attachment: initial !important;
  }
}
